version: '3.7'

volumes:
  postgresdata:
      external: false

services:
    test-api:
      container_name: actions-api
      build: 
        context: .
        target: dev
      env_file:
        - .env
      volumes:
        - ./src:/app/src:z
        - ./package.json:/app/package.json:z
        - ./tsconfig.json:/app/tsconfig.json:z
        - ./jest.config.js:/app/jest.config.js:z
        - ./build:/app/build:z
      command: sh -c "./scripts/wait-for test-db:5432 && npm run build && npm run test"
      depends_on: 
        - test-db
    test-db:
      container_name: actions-db
      build:
        context: .
        dockerfile: Dockerfile.postgres
      restart: always
      volumes:
        - postgresdata:/var/lib/postgresql/data/pgdata:Z
        - ./db_install/docker-entrypoint-initdb.d/.:/docker-entrypoint-initdb.d:Z
      working_dir: /usr/src/service
      environment:
        POSTGRES_USER: root
        POSTGRES_PASSWORD: root
        PGPASSWORD: root
        PGDATA: /var/lib/postgresql/data/pgdata
      ports:
        - 5433:5432
      # command: ["postgres", "-c", "log_statement=all"]