name: ci

on:
    push:
        branches: [ master ]
    pull_request:
        branches: [ master ]
        types: [synchronize, opened, labeled]
env:
  BUILD_IMAGE: "ghcr.io/${{github.repository}}:pr-${{github.event.number}}.api.${{ github.sha }}"

jobs:
  cancel-previous-workflows:
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.5.0
        with:
          access_token: ${{ github.token }}

  check-ready:
    runs-on: ubuntu-latest
    steps:
      - name: Fail if not ready
        if: contains(github.event.pull_request.labels.*.name, 'ready') == false
        run: |
          echo "Add 'ready' label to your PR when you are ready to have me run and pass."
          exit 1
      - run: exit 0
  build:
    runs-on: ubuntu-latest
    needs: check-ready
    env:
      MAIN_CACHE_PATH: /tmp/.buildx-cache/main  
    steps:
    - name: Builder
      uses: docker/setup-buildx-action@v1
      id: buildx

    - name: Restore build cache
      uses: actions/cache@v2
      with:
        path: ${{ env.MAIN_CACHE_PATH }}
        key: ${{ runner.os }}-buildx-main-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-buildx-main-
    
    - name: Temp tags
      id: tmpimg
      run: |
        MAIN_TAG="main-$GITHUB_SHA"
        DB_TAG="db-$GITHUB_SHA"
        echo ::set-output name=mainimg::${MAIN_TAG}
        echo ::set-output name=dbimg::${DB_TAG}

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.DOCKER_PAT }}

    - name: Build source
      uses: docker/build-push-action@v2
      with:
        builder: ${{ steps.buildx.outputs.name }}
        target: build
        push: true
        cache-from: type=local,src=${{ env.MAIN_CACHE_PATH }}
        cache-to: type=local,mode=max,dest=${{ env.MAIN_CACHE_PATH }}
        tags: ${{ env.BUILD_IMAGE }}
  
  test:
    needs: build
    runs-on: ubuntu-latest
    env:
      DB_CACHE_PATH: /tmp/.buildx-cache/db
      DB_IMAGE_TAG: "tmp/db:${{ github.sha }}"
    steps:
    - name: Builder
      uses: docker/setup-buildx-action@v1
      id: buildx
    
    - name: Checkout Code
      uses: actions/checkout@v2

    - name: Restore db cache
      uses: actions/cache@v2
      with:
        path: ${{ env.DB_CACHE_PATH }}
        key: ${{ runner.os }}-buildx-db-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-buildx-db-

    - name: Build DB
      uses: docker/build-push-action@v2
      with:
        builder: ${{ steps.buildx.outputs.name }}
        file: Dockerfile.postgres
        load: true
        cache-from: type=local,src=${{ env.DB_CACHE_PATH }}
        cache-to: type=local,mode=max,dest=${{ env.DB_CACHE_PATH }}
        tags: ${{ env.DB_IMAGE_TAG }}

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.DOCKER_PAT }}
    
    - name: Pull build
      run: docker pull ${{ env.BUILD_IMAGE }}

    - name: Run Tests
      run: |
        API_IMAGE_TAG=${{ env.BUILD_IMAGE }} DB_IMAGE_TAG=${{ env.DB_IMAGE_TAG }} docker-compose -f docker-compose.yml --env-file .env.ci run test-api sh -c "./scripts/wait-for test-db:5432 && npm run test"
  
  lint:
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Code
      uses: actions/checkout@v2

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.DOCKER_PAT }}
    
    - name: Pull build
      run: docker pull ${{ env.BUILD_IMAGE }}

    - name: Run lint
      run: |
        API_IMAGE_TAG=${{ env.BUILD_IMAGE }} docker-compose -f docker-compose.yml --env-file .env.ci run --no-deps test-api sh -c "npm run lint"
    