name: ci

on:
    push:
        branches: [ master ]
    pull_request:
        types: [labeled]
        branches: [ master ]

jobs:
  build-test:
    env:
      DB_CACHE_PATH: /tmp/.buildx-cache/db
      MAIN_CACHE_PATH: /tmp/.buildx-cache/main
    runs-on: ubuntu-latest
    steps:
    - name: Builder
      uses: docker/setup-buildx-action@v1
      id: buildx

    - name: Cache main image layers
      uses: actions/cache@v2
      with:
        path: ${{ env.MAIN_CACHE_PATH }}
        key: ${{ runner.os }}-buildx-main-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-buildx-main-
    
    - name: Cache db image layers
      uses: actions/cache@v2
      with:
        path: ${{ env.DB_CACHE_PATH }}
        key: ${{ runner.os }}-buildx-db-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-buildx-db-

    - name: Checkout Code
      uses: actions/checkout@v2
    
    - name: Temp tags
      id: tmpimg
      run: |
        MAIN_TAG="main-$GITHUB_SHA"
        DB_TAG="db-$GITHUB_SHA"
        echo ::set-output name=mainimg::${MAIN_TAG}
        echo ::set-output name=dbimg::${DB_TAG}

    - name: Build source
      uses: docker/build-push-action@v2
      with:
        builder: ${{ steps.buildx.outputs.name }}
        target: build
        load: true
        cache-from: type=local,src=${{ env.MAIN_CACHE_PATH }}
        cache-to: type=local,mode=max,dest=${{ env.MAIN_CACHE_PATH }}
        tags: ${{ steps.tmpimg.outputs.mainimg }}
    
    - name: Build DB
      uses: docker/build-push-action@v2
      with:
        builder: ${{ steps.buildx.outputs.name }}
        file: Dockerfile.postgres
        load: true
        cache-from: type=local,src=${{ env.DB_CACHE_PATH }}
        cache-to: type=local,mode=max,dest=${{ env.DB_CACHE_PATH }}
        tags: ${{ steps.tmpimg.outputs.dbimg }}
    
    - name: Run Tests
      run: |
        API_IMAGE_TAG=${{ steps.tmpimg.outputs.mainimg }} DB_IMAGE_TAG=${{ steps.tmpimg.outputs.dbimg }} docker-compose -f docker-compose.yml --env-file .env.ci run test-api
  
  push-image:
    if: contains(github.event.pull_request.labels.*.name, 'stage')
    env:
      CACHE_PATH: /tmp/.buildx-cache/release
    needs: [build-test]
    runs-on: ubuntu-latest
    steps:
    - name: Builder
      uses: docker/setup-buildx-action@v1
      id: buildx

    - name: Prepare
      id: prep
      run: |
        DOCKER_IMAGE=ghcr.io/${{ github.repository_owner }}/${{github.repository}}/api
        SHA="sha-${GITHUB_SHA::8}"
        if [[ $GITHUB_REF == refs/pull/* ]]; then
          TAGS="$DOCKER_IMAGE:pr-${{ github.event.number }}-$SHA"
        else
          TAGS="$DOCKER_IMAGE:latest,$DOCKER_IMAGE:$SHA"
        fi
        echo ::set-output name=image::${TAGS}

    - name: Restore cache
      uses: actions/cache@v2
      with:
        path: ${{ env.CACHE_PATH }}
        key: ${{ runner.os }}-buildx-release-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-buildx-release-
    

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.DOCKER_PAT }}
    
    - name: Build code
      uses: docker/build-push-action@v2
      with:
        builder: ${{ steps.buildx.outputs.name }}
        push: true
        target: release
        cache-from: type=local,src=${{ env.CACHE_PATH }}
        cache-to: type=local,mode=max,dest=${{ env.CACHE_PATH }}
        tags: ${{ steps.prep.outputs.image }}